.container {
	padding-top: 20px;
	width: 50%;
	padding: 0px;
}

.calculator {
	background-color: grey;
	border: 1px solid black;
	border-radius: 5px;
}

.display {
	text-align: right;
	font-size: 50px;
	border-radius: 5px;
}

.well {
	text-align: center;
	width: 100%;
	height: 100%;
}  

.col-xs-3 {
	background-color: orange;
}
 
.firstline {
	padding-top: 10px;
} 