<<<<<<< HEAD
/*<div class="operator">&times;</div>
<div class="operator">&divide;</div>

*/
/** {
	border: dotted red 1px;
}*/
.display {
	text-align: right;
	font-size: 50px;
	border-radius: 5px;
}

.displayPart {
	padding-bottom: 5px;
}

.well {
	text-align: center;
	width: 100%;
	height: 100%;
}  

.calculator {
	border: 1px solid black;
}
=======
.buttons,.bt0,.functions {
	margin: 3px;
	padding: 25px;
	font-size: 20px;
	border: 1px solid grey;
}

input {
	width: 220px;
	height: 50px;
	font-size: 40px;
	border: 1px solid black;
}

>>>>>>> eedeed12c723bfeb96d83331238540156764f24c
